



<h1>Liste des formations disponibles </h1>
<body>
<br>
<table  class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prix </th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
    </tr>
</thead>

    <tbody>
    <tr *ngFor="let a of formations">
        
        <td>{{a.nom}}</td>
        <td>{{a.prix}}</td>
        <td>{{a.date_debut}}</td>
        <td>{{a.date_fin}}</td>
       
        

     
        
    </tr>
</tbody>
    </table>
</body>
