<body><nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="afficherFormation">Formation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="afficherParticipants">Participants <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="afficherFormateur">Formateur</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="afficherCommercialAdmin">Commerciaux <span class="sr-only">(current)</span></a>
        </li>
        <li  class="nav-item active">
            <button (click)="deconnect()" class="btn btn-primary">Deconnexion</button>
        </li>
      </ul>
      
    </div>
  </nav>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">age</th>
        <th scope="col">email</th>
    
    </tr>
</thead>
<tbody>
    <tr *ngFor="let c of commercials">
        <td >{{c.id}}</td>
        <td >{{c.nom}}</td>
        <td >{{c.prenom}}</td>
        <td >{{c.age}}</td>
        <td >{{c.email}}</td>
        

    </tr>
</tbody>
</table>
</body>