<head>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
          width: 55%;
          height: 55%;
        }

        </style>
</head>
<body>
    <div class="button-droite">
<button class="btn btn-primary" (click)="auth()">Connexion</button>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="formations()">Formations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="commerciaux()">Contacts</a>
      </li>
    </ul>
  </nav>

<div class="centre">
    <h1>Bienvenue</h1>
<br>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/9/4/0/940b22eda6_50170334_code-informatique.jpg" alt="Los Angeles" width="1100" height="500">
            <div class="carousel-caption">
              <h3>Formation Architecte Logiciel Java JEE</h3>
              <p>Programmation en Java</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-vector/stream-binary-code-design_53876-97406.jpg" alt="Chicago" width="1100" height="500">
            <div class="carousel-caption">
              <h3>Formation en XML TEI</h3>
              <p>Apprendre à encoder et annoter en TEI</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="https://grafikart.fr/uploads/attachments/2017/508-600a91df43655220452798.jpg" alt="New York" width="1100" height="500">
            <div class="carousel-caption">
              <h3>Formation en HTML</h3>
              <p>Apprendre les bases du HTML pour faire la création un site internet</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
      </div>
<br><br>
      <p><b>Voici le projet de fin de formation pour la formation en Architecte Logiciel Java JEE. 
        <br>Ce travail a été réalisé par Anthony Juppin, Amélie Masson, et Maxime Parry.</b></p>
      <div>

      </div>

    </div>
</body>
